In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Import Defensive Dataset
defensive = pd.read_csv("../Resources/Career_Stats_Defensive.csv")

In [3]:
defensive.head()

,Player Id,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
0,quinnjohnson/79593,"Johnson, Quinn",NaN,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
1,quinnjohnson/79593,"Johnson, Quinn",NaN,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--,0.0,--
2,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
3,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--,0.0,--
4,quinnjohnson/79593,"Johnson, Quinn",NaN,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--,0.0,--

In [4]:
# Drop columns not needed; Yards Per Int dropped.
defensive.drop(["Player Id", "Name", "Position", "Yards Per Int", "Longest Int Return"], axis = 1, inplace = True)

In [5]:
# Verify dropped columns
defensive.head()

,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards
0,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--
1,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--
2,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--
3,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--
4,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--

In [6]:
# Get Column Names
cols = list(defensive.columns)

In [7]:
# Print value counts for columns
for col in cols:
    print(f"{col}")
    print(defensive[f"{col}"].value_counts())
    print(" ")

Year
2016    1537
2015    1414
2014    1316
2013    1194
2012    1098
2011    1036
2010    1032
2009     959
2006     949
2008     920
2004     916
2007     905
2005     902
2003     852
2002     820
2001     739
2000     628
1999     537
1998     489
1997     447
1996     418
1995     397
1987     345
1993     344
1992     342
1994     340
1991     317
1990     288
1989     275
1988     273
1984     268
1986     265
1985     254
1983     241
1982     212
1981     177
1980     138
1979     115
1978      86
1977      67
1976      50
1975      37
1974      24
1973      19
1972       9
1971       6
1970       1
Name: Year, dtype: int64

Team
New England Patriots    873
San Diego Chargers      822
Indianapolis Colts      810
Philadelphia Eagles     809
Detroit Lions           800
San Francisco 49ers     797
Kansas City Chiefs      794
Dallas Cowboys          790
Chicago Bears           783
Minnesota Vikings       778
Denver Broncos          775
New York Jets           772
Miami Dolphins          768
New York Giants         768
New Orleans Saints      765
Buffalo Bills           765
Washington Redskins     760
Tampa Bay Buccaneers    754
Cincinnati Bengals      749
Seattle Seahawks        744
Green Bay Packers       739
Cleveland Browns        722
Atlanta Falcons         719
Pittsburgh Steelers     710
Carolina Panthers       671
Baltimore Ravens        628
Arizona Cardinals       628
Jacksonville Jaguars    617
Oakland Raiders         594
St. Louis Rams          541
Houston Texans          506
Tennessee Titans        491
Los Angeles Rams        230
Houston Oilers          188
Los Angeles Raiders     126
St. Louis Cardinals      83
Phoenix Cardinals        68
Baltimore Colts          35
Tennessee Oilers         26
Name: Team, dtype: int64

Games Played
16    9569
15    2262
14    1721
13    1169
12    1092
0      944
11     808
9      776
1      696
3      682
2      682
10     648
8      635
5      614
4      597
6      563
7      540
Name: Games Played, dtype: int64

Total Tackles
--     7409
0      3198
1      1975
2      1201
3       783
       ...
159       1
160       1
153       1
144       1
143       1
Name: Total Tackles, Length: 170, dtype: int64

Solo Tackles
--     10551
1       2088
2       1262
3        781
4        580
       ...
116        2
120        2
117        1
115        1
124        1
Name: Solo Tackles, Length: 121, dtype: int64

Assisted Tackles
--    10551
0      4127
1      1575
2       971
3       717
      ...
51        1
65        1
72        1
56        1
82        1
Name: Assisted Tackles, Length: 71, dtype: int64

Sacks
0.0     11450
--       5386
1.0      2231
2.0       967
3.0       567
0.5       375
1.5       360
4.0       350
2.5       300
5.0       250
3.5       246
6.0       186
5.5       160
4.5       160
7.0       139
6.5       115
8.0       105
8.5        68
7.5        67
9.0        64
10.0       60
11.0       59
9.5        48
10.5       46
11.5       44
12.0       39
12.5       32
13.5       22
13.0       19
14.5       15
14.0       12
15.5        9
15.0        7
17.0        7
16.5        6
16.0        4
19.5        4
18.5        4
17.5        4
22.0        3
20.5        3
20.0        2
19.0        2
18.0        1
Name: Sacks, dtype: int64

Safties
--    18027
0      5736
1       229
2         6
Name: Safties, dtype: int64

Passes Defended
0     13007
--     5386
1      1557
2       991
3       685
4       498
5       396
6       315
7       217
8       188
9       166
11      118
10      118
12       76
13       60
14       51
16       38
15       35
17       26
19       18
18       16
20        9
24        6
22        6
21        6
23        4
25        3
31        1
26        1
Name: Passes Defended, dtype: int64

Ints
--    19387
1      2216
2      1036
3       588
4       335
5       182
6        88
0        67
7        47
8        25
9        18
10        8
11        1
Name: Ints, dtype: int64

Ints for TDs
--    19387
0      3791
1       733
2        80
3         6
4         1
Name: Ints for TDs, dtype: int64

Int Yards
--     19387
0        770
1        122
2        111
4         97
       ...
227        1
276        1
179        1
142        1
175        1
Name: Int Yards, Length: 203, dtype: int64

In [8]:
# Get Stats columns
stats_cols = ["Total Tackles", "Solo Tackles", "Assisted Tackles", "Sacks", "Safties", "Passes Defended", 
             "Ints", "Ints for TDs", "Int Yards"]

In [9]:
# Replace "--" with "0"
for col in stats_cols:
    defensive[col] = defensive[col].str.replace('--','0')

In [10]:
# Print value counts for columns
for col in stats_cols:
    print(f"{col}")
    print(defensive[f"{col}"].value_counts())
    print(" ")

Total Tackles
0      10607
1       1975
2       1201
3        783
4        552
       ...
167        1
165        1
157        1
169        1
153        1
Name: Total Tackles, Length: 169, dtype: int64

Solo Tackles
0      10851
1       2088
2       1262
3        781
4        580
       ...
116        2
120        2
117        1
115        1
124        1
Name: Solo Tackles, Length: 120, dtype: int64

Assisted Tackles
0     14678
1      1575
2       971
3       717
4       557
      ...
68        1
51        1
65        1
72        1
56        1
Name: Assisted Tackles, Length: 70, dtype: int64

Sacks
0.0     11450
0        5386
1.0      2231
2.0       967
3.0       567
0.5       375
1.5       360
4.0       350
2.5       300
5.0       250
3.5       246
6.0       186
5.5       160
4.5       160
7.0       139
6.5       115
8.0       105
8.5        68
7.5        67
9.0        64
10.0       60
11.0       59
9.5        48
10.5       46
11.5       44
12.0       39
12.5       32
13.5       22
13.0       19
14.5       15
14.0       12
15.5        9
15.0        7
17.0        7
16.5        6
16.0        4
19.5        4
18.5        4
17.5        4
22.0        3
20.5        3
20.0        2
19.0        2
18.0        1
Name: Sacks, dtype: int64

Safties
0    23763
1      229
2        6
Name: Safties, dtype: int64

Passes Defended
0     18393
1      1557
2       991
3       685
4       498
5       396
6       315
7       217
8       188
9       166
11      118
10      118
12       76
13       60
14       51
16       38
15       35
17       26
19       18
18       16
20        9
24        6
22        6
21        6
23        4
25        3
31        1
26        1
Name: Passes Defended, dtype: int64

Ints
0     19454
1      2216
2      1036
3       588
4       335
5       182
6        88
7        47
8        25
9        18
10        8
11        1
Name: Ints, dtype: int64

Ints for TDs
0    23178
1      733
2       80
3        6
4        1
Name: Ints for TDs, dtype: int64

Int Yards
0      20157
1        122
2        111
4         97
5         96
       ...
276        1
179        1
142        1
227        1
175        1
Name: Int Yards, Length: 202, dtype: int64

In [11]:
# Remove non-sensical decimals points in Sacks column
defensive["Sacks"] = defensive["Sacks"].astype(str).str[0]

In [12]:
# Check result from removal of decimal points Sacks
defensive["Sacks"].value_counts()

0    17211
1     2987
2     1275
3      813
4      510
5      410
6      301
7      206
8      173
9      112
Name: Sacks, dtype: int64

In [13]:
# Reorder Columns
defensive = defensive[["Team", "Year", "Games Played", "Total Tackles", "Solo Tackles", "Assisted Tackles", "Sacks", "Safties", "Passes Defended", 
             "Ints", "Ints for TDs", "Int Yards"]]
defensive.head()

,Team,Year,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards
0,Tennessee Titans,2013,4,0,0,0,0,0,0,0,0,0
1,Tennessee Titans,2012,16,1,1,0,0,0,0,0,0,0
2,Tennessee Titans,2011,4,0,0,0,0,0,0,0,0,0
3,Denver Broncos,2011,0,0,0,0,0,0,0,0,0,0
4,Green Bay Packers,2010,11,4,4,0,0,0,0,0,0,0

In [14]:
# Convert columns to int and year to str
defensive[stats_cols] = defensive[stats_cols].astype(int)
defensive["Year"] = defensive["Year"].astype(str)
defensive.dtypes

Team                object
Year                object
Games Played         int64
Total Tackles        int64
Solo Tackles         int64
Assisted Tackles     int64
Sacks                int64
Safties              int64
Passes Defended      int64
Ints                 int64
Ints for TDs         int64
Int Yards            int64
dtype: object

In [15]:
# Format team column
defensive["Team"] = [row.lower() for row in defensive["Team"]]
defensive["Team"] = defensive["Team"].str.replace('.','')
defensive["Team"] = defensive["Team"].str.replace(' ','_')

/Users/Alvarado/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
# Create a unique identifier for team-year
defensive["team_year"] = defensive["Team"] + "_" + defensive["Year"]
defensive.head()

,Team,Year,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,team_year
0,tennessee_titans,2013,4,0,0,0,0,0,0,0,0,0,tennessee_titans_2013
1,tennessee_titans,2012,16,1,1,0,0,0,0,0,0,0,tennessee_titans_2012
2,tennessee_titans,2011,4,0,0,0,0,0,0,0,0,0,tennessee_titans_2011
3,denver_broncos,2011,0,0,0,0,0,0,0,0,0,0,denver_broncos_2011
4,green_bay_packers,2010,11,4,4,0,0,0,0,0,0,0,green_bay_packers_2010

In [17]:
# Reorder Columns
defensive = defensive[["team_year", "Team", "Year", "Games Played", "Total Tackles", "Solo Tackles", "Assisted Tackles", "Sacks", "Safties", "Passes Defended", 
             "Ints", "Ints for TDs", "Int Yards"]]
defensive.head()

,team_year,Team,Year,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards
0,tennessee_titans_2013,tennessee_titans,2013,4,0,0,0,0,0,0,0,0,0
1,tennessee_titans_2012,tennessee_titans,2012,16,1,1,0,0,0,0,0,0,0
2,tennessee_titans_2011,tennessee_titans,2011,4,0,0,0,0,0,0,0,0,0
3,denver_broncos_2011,denver_broncos,2011,0,0,0,0,0,0,0,0,0,0
4,green_bay_packers_2010,green_bay_packers,2010,11,4,4,0,0,0,0,0,0,0

In [18]:
# Rename Columns
defensive.set_axis(["team_year", "team", "year", "games_played", "total_tackles_def", "solo_tackles_def",
                       "assisted_tackles_def","sacks_def", "safties_def", "passes_defended_def", "ints_def", 
                       "ints_for_tds_def", "int_yards_def"], axis = 1, inplace = True)
defensive.head()

,team_year,team,year,games_played,total_tackles_def,solo_tackles_def,assisted_tackles_def,sacks_def,safties_def,passes_defended_def,ints_def,ints_for_tds_def,int_yards_def
0,tennessee_titans_2013,tennessee_titans,2013,4,0,0,0,0,0,0,0,0,0
1,tennessee_titans_2012,tennessee_titans,2012,16,1,1,0,0,0,0,0,0,0
2,tennessee_titans_2011,tennessee_titans,2011,4,0,0,0,0,0,0,0,0,0
3,denver_broncos_2011,denver_broncos,2011,0,0,0,0,0,0,0,0,0,0
4,green_bay_packers_2010,green_bay_packers,2010,11,4,4,0,0,0,0,0,0,0

In [19]:
# Drop games played
defensive.drop(["games_played", "team", "year"], axis = 1, inplace = True)
defensive.head()

,team_year,total_tackles_def,solo_tackles_def,assisted_tackles_def,sacks_def,safties_def,passes_defended_def,ints_def,ints_for_tds_def,int_yards_def
0,tennessee_titans_2013,0,0,0,0,0,0,0,0,0
1,tennessee_titans_2012,1,1,0,0,0,0,0,0,0
2,tennessee_titans_2011,0,0,0,0,0,0,0,0,0
3,denver_broncos_2011,0,0,0,0,0,0,0,0,0
4,green_bay_packers_2010,4,4,0,0,0,0,0,0,0

In [20]:
# Group dataset by unique identifier
defensive_df = defensive.groupby(["team_year"]).sum()

In [21]:
# Write clean dataset
defensive_df.to_csv("../Resources/clean_defensive.csv", header = True, index = True)

In [22]:
# Tackling information is EMPTY in years previous to 2001