In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Import rushing Dataset
rushing = pd.read_csv("../Resources/Career_Stats_Rushing.csv")

In [3]:
# Visualize dataframe
rushing.head()

,Player Id,Name,Position,Year,Team,Games Played,Rushing Attempts,Rushing Attempts Per Game,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Longest Rushing Run,Rushing First Downs,Percentage of Rushing First Downs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,10,3.3,15,1.5,5.0,0,--,--,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,0.0,--,--,--,--,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,0.0,--,--,--,--,--,--,--,--,--,--

In [4]:
# Drop columns not needed
rushing.drop(["Player Id", "Name", "Position","Games Played","Rushing Attempts Per Game", "Yards Per Carry", "Rushing Yards Per Game",
              "Longest Rushing Run", "Percentage of Rushing First Downs","Rushing More Than 20 Yards", 
              "Rushing More Than 40 Yards"], axis = 1, inplace = True)

In [5]:
# Visualize dataframe
rushing.head()

,Year,Team,Rushing Attempts,Rushing Yards,Rushing TDs,Rushing First Downs,Fumbles
0,1948,Chicago Bears,10,15,0,--,--
1,1948,Chicago Rockets,--,--,--,--,--
2,1947,Chicago Rockets,--,--,--,--,--
3,1947,Buffalo Bills,--,--,--,--,--
4,1946,Cleveland Browns,--,--,--,--,--

In [6]:
# Get columns
cols = rushing.columns

In [7]:
# Value counts
for col in cols:
    print(f"{col}")
    print(rushing[f"{col}"].value_counts())
    print(" ")

Year
2015    450
2016    449
2014    419
2013    394
2012    371
       ...
1929     10
1928      9
1926      8
1925      4
1924      1
Name: Year, Length: 93, dtype: int64

Team
Philadelphia Eagles         800
Detroit Lions               796
Chicago Bears               792
New York Giants             745
Washington Redskins         715
                           ...
Cleveland Bulldogs            1
Newark Tornadoes              1
Rock Island Independents      1
Boston Bulldogs               1
Duluth Eskimos                1
Name: Team, Length: 75, dtype: int64

Rushing Attempts
--     6050
1      1742
2       910
3       604
4       446
       ...
295       1
404       1
259       1
334       1
304       1
Name: Rushing Attempts, Length: 376, dtype: int64

Rushing Yards
--       6050
0         402
2         229
3         213
1         213
         ...
934         1
779         1
790         1
1,169       1
928         1
Name: Rushing Yards, Length: 1206, dtype: int64

Rushing TDs
0     6764
--    6050
1     1872
2      911
3      521
4      377
5      262
6      200
7      146
8      101
9       83
10      46
11      46
12      36
13      29
14      26
15      11
16       8
18       6
17       4
21       2
19       2
27       1
24       1
20       1
28       1
Name: Rushing TDs, dtype: int64

Rushing First Downs
--     12632
0       1241
1        775
2        406
3        259
       ...
107        1
89         1
64         1
86         1
100        1
Name: Rushing First Downs, Length: 96, dtype: int64

Fumbles
--    12632
0      3003
1       892
2       420
3       234
4       140
5       102
6        41
7        23
8        12
9         4
10        2
13        1
11        1
Name: Fumbles, dtype: int64

In [8]:
# Get Stats cols
stats_cols = ["Rushing Attempts", "Rushing Yards", "Rushing TDs", "Rushing First Downs", "Fumbles"]

In [9]:
# Replace "--" with "0"
for col in stats_cols:
    rushing[col] = rushing[col].astype(str).str.replace('--','0')
    rushing[col] = rushing[col].astype(str).str.replace(',','').astype(int)

In [10]:
# Value counts
for col in cols:
    print(f"{col}")
    print(rushing[f"{col}"].value_counts())
    print(" ")

Year
2015    450
2016    449
2014    419
2013    394
2012    371
       ...
1929     10
1928      9
1926      8
1925      4
1924      1
Name: Year, Length: 93, dtype: int64

Team
Philadelphia Eagles         800
Detroit Lions               796
Chicago Bears               792
New York Giants             745
Washington Redskins         715
                           ...
Cleveland Bulldogs            1
Newark Tornadoes              1
Rock Island Independents      1
Boston Bulldogs               1
Duluth Eskimos                1
Name: Team, Length: 75, dtype: int64

Rushing Attempts
0      6131
1      1742
2       910
3       604
4       446
       ...
328       1
375       1
311       1
231       1
367       1
Name: Rushing Attempts, Length: 375, dtype: int64

Rushing Yards
0       6452
2        229
1        213
3        213
6        210
        ...
360        1
568        1
600        1
728        1
1759       1
Name: Rushing Yards, Length: 1205, dtype: int64

Rushing TDs
0     12814
1      1872
2       911
3       521
4       377
5       262
6       200
7       146
8       101
9        83
10       46
11       46
12       36
13       29
14       26
15       11
16        8
18        6
17        4
21        2
19        2
24        1
27        1
28        1
20        1
Name: Rushing TDs, dtype: int64

Rushing First Downs
0      13873
1        775
2        406
3        259
4        222
       ...
107        1
80         1
64         1
89         1
75         1
Name: Rushing First Downs, Length: 95, dtype: int64

Fumbles
0     15635
1       892
2       420
3       234
4       140
5       102
6        41
7        23
8        12
9         4
10        2
11        1
13        1
Name: Fumbles, dtype: int64

In [11]:
# Format year colum
rushing["Year"] = rushing["Year"].astype(str)

In [12]:
rushing.head()

,Year,Team,Rushing Attempts,Rushing Yards,Rushing TDs,Rushing First Downs,Fumbles
0,1948,Chicago Bears,10,15,0,0,0
1,1948,Chicago Rockets,0,0,0,0,0
2,1947,Chicago Rockets,0,0,0,0,0
3,1947,Buffalo Bills,0,0,0,0,0
4,1946,Cleveland Browns,0,0,0,0,0

In [14]:
# Format colnames
rushing.set_axis(["year", "team", "rushing_attempts_rush", "rushing_yards_rush", "rushing_tds_rush",
                 "rushing_first_downs_rush", "fumbles_rush"], axis = 1, inplace = True)

In [18]:
# Format team column
rushing["team"] = [row.lower() for row in rushing["team"]]
rushing["team"] = rushing["team"].str.replace('.','')
rushing["team"] = rushing["team"].str.replace(' ','_')

/Users/Alvarado/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
# Create unique identifier
rushing["team_year"] = rushing["team"] + "_" + rushing["year"]

In [23]:
# Rearrange columns and drop team and year
rushing = rushing[["team_year", "rushing_attempts_rush", "rushing_yards_rush", "rushing_tds_rush", 
                  "rushing_first_downs_rush", "fumbles_rush"]]

In [27]:
# Create groupby using unique identifier
rushing_df = rushing.groupby("team_year").sum()
rushing_df

,rushing_attempts_rush,rushing_yards_rush,rushing_tds_rush,rushing_first_downs_rush,fumbles_rush
team_year,,,,,
arizona_cardinals_1994,140,413,6,26,7
arizona_cardinals_1995,83,264,2,11,2
arizona_cardinals_1996,276,1099,6,48,7
arizona_cardinals_1997,133,385,2,24,2
arizona_cardinals_1998,124,366,6,30,2
...,...,...,...,...,...
washington_redskins_2012,484,2569,20,134,13
washington_redskins_2013,384,1852,10,92,10
washington_redskins_2014,345,1400,13,72,8
washington_redskins_2015,429,1566,9,80,11
washington_redskins_2016,379,1696,17,89,7

In [28]:
# Write clean dataset
rushing_df.to_csv("../Resources/clean_rushing.csv", header = True, index = True)