In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Import receiving Dataset
receiving = pd.read_csv("../Resources/Career_Stats_Receiving.csv")

In [3]:
# Visualize Dataframe
receiving.head()

,Player Id,Name,Position,Year,Team,Games Played,Receptions,Receiving Yards,Yards Per Reception,Yards Per Game,Longest Reception,Receiving TDs,Receptions Longer than 20 Yards,Receptions Longer than 40 Yards,First Down Receptions,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,1,-2,-2.0,-0.7,--,0,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,--,--,0.0,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,--,--,0.0,--,--,--,--,--,--

In [4]:
# Drop Columns not needed
receiving.drop(["Player Id", "Name", "Position", "Games Played", "Yards Per Reception", "Yards Per Game",
               "Longest Reception", "Receptions Longer than 20 Yards", "Receptions Longer than 40 Yards"], axis = 1,
              inplace = True)

In [5]:
# Get Stats Cols
stats_cols = ["Receptions", "Receiving Yards", "Receiving TDs", "First Down Receptions", "Fumbles"]

In [6]:
# Format year colum
receiving["Year"] = receiving["Year"].astype(str)

In [7]:
# Value counts
for col in stats_cols:
    print(f"{col}")
    print(receiving[f"{col}"].value_counts())
    print(" ")

Receptions
--     4404
1      1500
2       939
3       678
4       608
       ...
123       1
107       1
129       1
143       1
113       1
Name: Receptions, Length: 122, dtype: int64

Receiving Yards
--       4404
0         267
9         126
11        118
8         116
         ...
828         1
929         1
1,108       1
948         1
1,492       1
Name: Receiving Yards, Length: 1280, dtype: int64

Receiving TDs
0     6587
--    4404
1     2770
2     1468
3      894
4      591
5      397
6      322
7      198
8      149
9      114
10      75
12      53
11      43
13      29
14      14
15       9
16       5
17       4
18       1
22       1
Name: Receiving TDs, dtype: int64

First Down Receptions
--    11527
0       758
1       742
2       500
3       393
      ...
81        1
85        1
88        1
93        1
78        1
Name: First Down Receptions, Length: 89, dtype: int64

Fumbles
--    11527
0      5149
1      1137
2       250
3        55
4         9
5         1
Name: Fumbles, dtype: int64

In [8]:
# Replace "--" with "0"
for col in stats_cols:
    receiving[col] = receiving[col].astype(str).str.replace('--','0')
    receiving[col] = receiving[col].astype(str).str.replace(',','').astype(int)

In [9]:
# Value counts
for col in stats_cols:
    print(f"{col}")
    print(receiving[f"{col}"].value_counts())
    print(" ")

Receptions
0      4649
1      1500
2       939
3       678
4       608
       ...
123       1
107       1
129       1
113       1
143       1
Name: Receptions, Length: 121, dtype: int64

Receiving Yards
0       4671
9        126
11       118
8        116
6        115
        ...
1304       1
1288       1
1272       1
1256       1
1871       1
Name: Receiving Yards, Length: 1279, dtype: int64

Receiving TDs
0     10991
1      2770
2      1468
3       894
4       591
5       397
6       322
7       198
8       149
9       114
10       75
12       53
11       43
13       29
14       14
15        9
16        5
17        4
18        1
22        1
Name: Receiving TDs, dtype: int64

First Down Receptions
0     12285
1       742
2       500
3       393
4       338
      ...
83        1
81        1
80        1
88        1
85        1
Name: First Down Receptions, Length: 88, dtype: int64

Fumbles
0    16676
1     1137
2      250
3       55
4        9
5        1
Name: Fumbles, dtype: int64

In [10]:
# Format team column
receiving["Team"] = [row.lower() for row in receiving["Team"]]
receiving["Team"] = receiving["Team"].str.replace('.','')
receiving["Team"] = receiving["Team"].str.replace(' ','_')

/Users/Alvarado/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# Create unique identifier
receiving["team_year"] = receiving["Team"] + "_" + receiving["Year"]

In [14]:
# Format colnames
receiving.set_axis(["year", "team", "receptions_rec", "receiving_yards_rec", "receiving_tds_rec",
                 "first_down_receptions_rec", "fumbles_rec","team_year"], 
                 axis = 1, inplace = True)

In [17]:
# Rearrange columns and drop team and year
receiving = receiving[["team_year","receptions_rec", "receiving_yards_rec", "receiving_tds_rec",
                 "first_down_receptions_rec", "fumbles_rec"]]
receiving.head()

,team_year,receptions_rec,receiving_yards_rec,receiving_tds_rec,first_down_receptions_rec,fumbles_rec
0,chicago_bears_1948,1,-2,0,0,0
1,chicago_rockets_1948,0,0,0,0,0
2,chicago_rockets_1947,0,0,0,0,0
3,buffalo_bills_1947,0,0,0,0,0
4,cleveland_browns_1946,0,0,0,0,0

In [18]:
# Create groupby using unique identifier
receiving_df = receiving.groupby("team_year").sum()
receiving_df

,receptions_rec,receiving_yards_rec,receiving_tds_rec,first_down_receptions_rec,fumbles_rec
team_year,,,,,
arizona_cardinals_1994,133,1212,4,65,2
arizona_cardinals_1995,225,2647,11,121,2
arizona_cardinals_1996,243,2459,14,140,3
arizona_cardinals_1997,182,1938,10,95,4
arizona_cardinals_1998,182,1997,6,92,4
...,...,...,...,...,...
washington_redskins_2012,139,1856,11,85,1
washington_redskins_2013,231,2762,15,127,3
washington_redskins_2014,304,3761,16,159,4
washington_redskins_2015,386,4294,30,208,7
washington_redskins_2016,407,4948,25,226,4

In [19]:
# Write clean dataset
receiving_df.to_csv("../Resources/clean_receiving.csv", header = True, index = True)